fastapi==0.115.8
uvicorn==0.34.0
python-multipart==0.0.20
Kurigram
#git+https://github.com/KurimuzonAkuma/pyrogram.git@dev#egg=Kurigram
TgCrypto
uvloop
pillow==11.1.0
feedgen==1.0.0
python-dateutil==2.9.0.post0
python-magic==0.4.27
bleach[css]==6.1.0
types-bleach
json-repair
